node_modules/
dist/
.next/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# logs
*.log
.pnpm-store/*
**/.dart_tool
# Flutter iOS build artifacts
**/ios/